*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
.font-secondary {
  font-family: "Overpass", sans-serif !important;
}

.text-bold-600 {
  font-weight: bold !important;
}
.text-bold-300 {
  font-weight: 300 !important;
}
.very-dark-blue {
  color: hsl(208, 49%, 24%) !important;
}
.very-dark-grayish-blue {
  color: hsl(207, 13%, 34%);
}
.font-white {
  color: white !important;
}
